{% extends 'base.html.twig' %}

{% block title %}New Lieu{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ asset('assets/css/styleList.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/styleVerticalNav.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/navBis.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
    <h1>Création d'un Lieu</h1>

    {{ include('lieu/_form.html.twig') }}

    <a href="{{ path('app_lieu_index') }}">back to list</a>
    </div>
{% endblock %}
