{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ asset('assets/css/styleVerticalNav.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/navBis.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/styleNewLieu.css') }}">

{% endblock %}
{% block nav %}

    <input type="checkbox" id="hamburger-input" class="burger-shower" />
    <label id="hamburger-menu" for="hamburger-input">
        <nav id="sidebar-menu">
            <h3>Menu</h3>
            <ul>
                {% if app.user %}
                    {# Ajout de l'encadré avec la photo de l'utilisateur #}
                    <li class="navbar-item">
                        {% if app.user.photo is not null %}
                            <img class="user-photo" src="{{ asset('img/' ~ app.user.photo) }}" alt="{{ app.user.nom }}'s photo">
                        {% endif %}
                        <span>{{ app.user.nom }}</span>
                    </li>
                    <li class="navbar-item">
                        <img class="navbar-miniature" src="{{ asset('assets/img/home.svg') }}">
                        <a href="#">Accueil</a>
                    </li>
                    <br>
                    <li class="navbar-item">
                        <img class="navbar-miniature" src="{{ asset('assets/img/user.svg') }}">
                        <a href="{{ path('profile_show', {'id': app.user.id}) }}">Mon profil</a>
                    </li>
                    <li class="navbar-item">
                        <img class="navbar-miniature" src="{{ asset('assets/img/plus.svg') }}">
                        <a href="{{ path('sortie_new') }}">Créer une sortie</a>
                    </li>
                    <li class="navbar-item">
                        <img class="navbar-miniature" src="{{ asset('assets/img/bulleted-list.svg') }}">
                        <a href="{{ path('sortie_list') }}">Liste des sorties</a>
                    </li>

                    <li class="navbar-item">
                        <img class="navbar-miniature" src="{{ asset('assets/img/sign-out.svg') }}">
                        <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                {% else %}
                    <li class="navbar-item">
                        <img class="navbar-miniature" src="{{ asset('assets/img/logo_connect.png') }}">
                        <a href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </label>

    <div class="overlay"></div>
{% endblock %}
{% block body %}
    <h1>Lieu</h1>

            <legend>Informations sur le lieu</legend>
            <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lieu.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ lieu.nom }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ lieu.rue }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ lieu.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ lieu.longitude }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ lieu.ville }}</td>
            </tr>
        </tbody>
    </table>


        <div class="button-container">
    <a href="{{ path('app_lieu_index') }}">Retour à la liste</a>
    <a href="{{ path('app_lieu_edit', {'id': lieu.id}) }}">Modifier</a>
    {{ include('lieu/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
