{% extends 'base.html.twig' %}

{% block title %}
    {% block header %}
        <link rel="stylesheet" href="{{ asset('assets/css/styleProfile.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/styleVerticalNav.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/navBis.css') }}">
    {% endblock %}
{% endblock %}

{% block body %}
<div class="container">
{{ form_start(userUpdateForm) }}
{{ form_widget(userUpdateForm) }}
<button type="submit">update</button>
{{ form_end(userUpdateForm) }}
</div>
{% endblock %}
