{% extends 'base.html.twig' %}
{#<link rel="stylesheet" href="{{ asset('/css/style.css') }}">#}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/styleProfile.css') }}">
{% endblock %}

{% block body %}
    <fieldset class="container">
<h1>profile N° {{ user.id }}</h1>
    <div>
        {% if user.photo is not null %}
            <img src="{{ asset('img/' ~ user.photo) }}" alt="{{ user.nom }}">
        {% endif %}
    </div>
    <div>
        <p>Prénom: {{ user.prenom }}</p>
        <p>Nom: {{ user.nom }}</p>
        <p>Teléphone: {{ user.telephone }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Campus: {{ user.campus.nom }}</p>
    </div>

    <a href="{{ path('sortie_list') }}"><button>Annuler</button></a>
    <br>
    {% if app.user == user %}
        <a href="{{ path('profile_update', {'id': app.user.id}) }}">Modifier mon profil</a><br>
        </fieldset>
    {% endif %}
{% endblock %}

{% block title %}
profile
{% endblock %}

