{% extends 'base.html.twig' %}

{% block header %}
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{{ asset('assets/css/styleLogin.css') }}">
    </head>
{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <h2 class="active"> Sign In </h2>
                <h2 class="inactive underlineHover"> Sign Up </h2>

                <!-- Login Form -->
                <form>
                    <input type="text" value="{{ last_username }}" placeholder="email" name="email" id="login" class="fadeIn second" autocomplete="email" required autofocus>
                    <input type="password" placeholder="Password" name="password" id="password" class="fadeIn third" autocomplete="current-password" required>
                    <input type="submit" class="fadeIn fourth" value="Log In">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover" href="#">Forgot Password?</a>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            </div>
        </div>
        {#    <a href="{{ path('forgot_password') }}">Mot de passe oublié</a>#}
    </form>
{% endblock %}