{% extends 'base.html.twig' %}

{% block title %}Annuler une sortie{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{{ asset('assets/css/containerPrinc.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/navBis.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/annuler.css') }}">
{% endblock %}

{% block body %}
    <div class="containerPrinc">
        <div class="ez flexerMID">
    <fieldset class="fieldset1">
    <legend>Annuler la sortie "{{ sortie.nom }}"</legend>
    {% if sortie.dateHeureDebut >= "now"|date %}
        {{ form_start(form) }}
        {{ form_row(form.motif) }}
        {{ form_row(form.annuler) }}
        {{ form_end(form) }}
    {% else %}
        <p>Impossible d'annuler une sortie déjà commencée</p>
    {% endif %}
</fieldset>
    </div>
</div>
{% endblock %}