{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Détails de la sortie
{% endblock %}

{% block body %}
<h1>detail de la sortie</h1>
<div class="serie-details-infos">

    <div>
        <p>Nom de la sortie : {{ sortie.nom }}</p>
        <p>Date et heure de la sortie : {{ sortie.dateHeureDebut | date('Y-m-d') }}</p>
        <p>Date limite d'inscription : {{ sortie.dateLimiteInscription | date('Y-m-d') }}</p>
        <p>Nombre de places : {{ sortie.nbInscriptionMax }}</p>
        <p>Durée : {{ sortie.duree }} minutes</p>
        <p>Description et infos : {{ sortie.infosSortie }}</p>
    </div>
    <div>
        <p>Campus : {{ sortie.campus.nom }}</p>
        <p>Lieu: {{ sortie.lieu.nom }} , {{ sortie.lieu.ville.nom }}</p>
        <p>Rue : {{ sortie.lieu.rue }}</p>
        <p>Code postal : {{ sortie.lieu.ville.codePostal }}</p>
        <p>Latitude : {{ sortie.lieu.latitude }}</p>
        <p>Longitude : {{ sortie.lieu.longitude }}</p>
    </div>

    {% if app.user == sortie.user %}
        <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier</a>
        {#TODO publier#}
        - <a href="">Publier</a>

    {% endif %}

    <div>
        <h2>Liste des participants inscrits : </h2>
        <ul>
            {% for sub in sortie.users %}
                <li><a href="{{ path('profile_show', {id: sub.id}) }}">{{ sub.prenom }} /{{ sub.nom }}</a> </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}

