{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Détails de la sortie
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ asset('assets/css/containerPrinc.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/styleSortieDetails.css') }}">
{% endblock %}



{% block body %}

    <div class="containerPrinc">
        <div class="ez flexerMID">
            <fieldset class="fieldset1">
                <legend>Détails de la sortie</legend>
                    <p>Nom de la sortie : {{ sortie.nom }}</p>
                    <p class="margT">Date et heure de la sortie : {{ sortie.dateHeureDebut | date('Y-m-d') }}</p>
                    <p class="margT">Date limite d'inscription : {{ sortie.dateLimiteInscription | date('Y-m-d') }}</p>
                    <p class="margT">Nombre de places : {{ sortie.nbInscriptionMax }}</p>
                    <p class="margT">Durée : {{ sortie.duree }} minutes</p>
                    <p class="margT">Description et infos : {{ sortie.infosSortie }}</p>

                    <p class="margT">Campus : {{ sortie.campus.nom }}</p>
                    <p class="margT">Lieu: {{ sortie.lieu.nom }} , {{ sortie.lieu.ville.nom }}</p>
                    <p class="margT">Rue : {{ sortie.lieu.rue }}</p>
                    <p class="margT">Code postal : {{ sortie.lieu.ville.codePostal }}</p>
                    <p class="margT">Latitude : {{ sortie.lieu.latitude }}</p>
                    <p class="margT">Longitude : {{ sortie.lieu.longitude }}</p>


<div>
    <h2>List de participant:</h2>
            {% for sub in sortie.users %}
                <li style="background-color: white; color: #0d0d0d"><a href="{{ path('profile_show', {id: sub.id}) }}">{{ sub.prenom }}</a> </li>
            {% endfor %}
</div>



    {% if app.user == sortie.user %}
            <a href="{{ path('sortie_edit', {'id': sortie.id}) }}" class="save-button">Modifier</a>
        {% if sortie.etat.libelle == "Créée" %}
            <a href="{{ path('sortie_publier', {'id': sortie.id}) }}" class="btn">Publier</a>
        {% endif %}
    {% endif %}

    {% if sortie.user == app.user %}
        <a href="{{ path('sortie_cancel', {'id': sortie.id}) }}" class="btn btn-danger">Annuler la sortie</a>
    {% endif %}
                <div>
                    {% for label, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>


            </fieldset>
        </div>
    </div>
{% endblock %}

