{% extends 'base.html.twig' %}


{% block header %}
    <link rel="stylesheet" href="{{ asset('assets/css/styleList.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/styleVerticalNav.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/navBis.css') }}">
{% endblock %}

{% block nav %}

    <input type="checkbox" id="hamburger-input" class="burger-shower" />
    <label id="hamburger-menu" for="hamburger-input">
        <nav id="sidebar-menu">
            <h3>Menu</h3>
            <ul>
                {% if app.user %}
                    {# Ajout de l'encadré avec la photo de l'utilisateur #}
                    <li class="navbar-item">
                        {% if app.user.photo is not null %}
                            <img class="user-photo" src="{{ asset('img/' ~ app.user.photo) }}" alt="{{ app.user.nom }}'s photo">
                        {% endif %}
                        <span>{{ app.user.nom }}</span>
                    </li>
                    <li class="navbar-item">
                        <img class="navbar-miniature" src="{{ asset('assets/img/home.svg') }}">
                        <a href="#">Accueil</a>
                    </li>
                    <br>
                    <li class="navbar-item">
                        <img class="navbar-miniature" src="{{ asset('assets/img/user.svg') }}">
                        <a href="{{ path('profile_show', {'id': app.user.id}) }}">Mon profil</a>
                    </li>
                    <li class="navbar-item">
                        <img class="navbar-miniature" src="{{ asset('assets/img/plus.svg') }}">
                        <a href="{{ path('app_lieu_new') }}">Créer un lieu</a>
                    </li>
                    <li class="navbar-item">
                        <img class="navbar-miniature" src="{{ asset('assets/img/plus.svg') }}">
                        <a href="{{ path('sortie_new') }}">Créer une sortie</a>
                    </li>
                    <li class="navbar-item">
                        <img class="navbar-miniature" src="{{ asset('assets/img/bulleted-list.svg') }}">
                        <a href="{{ path('sortie_list') }}">Liste des sorties</a>
                    </li>

                    <li class="navbar-item">
                        <img class="navbar-miniature" src="{{ asset('assets/img/sign-out.svg') }}">
                        <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                {% else %}
                    <li class="navbar-item">
                        <img class="navbar-miniature" src="{{ asset('assets/img/logo_connect.png') }}">
                        <a href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </label>

    <div class="overlay"></div>
{% endblock %}

{% block body %}
 <div class="container">
    <div class="container1">
        {{ form_start(filtre) }}

        {{ form_label(filtre.campus) }}
        {{ form_widget(filtre.campus) }}




<div class="flexerContainer">
    <div class="container3">
        <div class="flexerCol">
        {{ form_label(filtre.nom) }}
        {{ form_widget(filtre.nom) }}

        {{ form_label(filtre.dateSortie) }}
        {{ form_widget(filtre.dateSortie) }}

        {{ form_label(filtre.dateCloture) }}
        {{ form_widget(filtre.dateCloture) }}

        </div>

    </div>

    <div class="container2bis">
        <div class="flexer">
            <div class="modifB">
            {{ form_widget(filtre.sortieOrganisateur) }}
            </div>
            {{ form_label(filtre.sortieOrganisateur) }}
        </div>
        <div class="flexer">
            <div class="modifB">
            {{ form_widget(filtre.sortieInscrit) }}
            </div>
            {{ form_label(filtre.sortieInscrit) }}

        </div>

        <div class="flexer">
            <div class="modifB">
            {{ form_widget(filtre.sortiePasInscrit) }}
            </div>
             {{ form_label(filtre.sortiePasInscrit) }}
        </div>
        <div class="flexer">
            <div class="modifB">
            {{ form_widget(filtre.sortiePasses) }}
            </div>
             {{ form_label(filtre.sortiePasses) }}


        </div>
    </div>
    </div>
        <button class="submitB">Rechercher</button>

        {{ form_end(filtre) }}
 </div>

    <br>
<div class="container2">
    <div class="table-responsive">
    <table class="table table-striped table-hover table-gradient table-wrapper">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture des inscriptions</th>
            <th scope="col">Inscrits/places totales</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for sortie in sortieFiltre %}

            <tr data-index="{{ loop.index }}" >
                <th scope="row">{{ sortie.nom|capitalize }}</a></th>
                <td>{{ sortie.dateHeureDebut|date('d/m/Y h:i') }}</td>
                <td>{{ sortie.dateLimiteInscription|date('d/m/y H:i') }}</td>
                <td>{{ sortie.users|length }}/{{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>
                    {% if app.user in sortie.users %}
                        X
                    {% endif %}
                </td>
                <td>
    <a href="{{ path('profile_show', {'id': sortie.user.id}) }}">{{ sortie.user.nom }}</a>
                </td>
                <td>
                    {# TODO penser à mettre les liens dans les href #}
                    {% if not (sortie.etat.libelle == '') %}
                        <a href="{{ path('sortie_details', {'id': sortie.id }) }}">Afficher</a>
                    {% endif %}
                    {% if (sortie.etat.libelle == 'Ouverte') and  not (app.user in sortie.users) %}
                        - <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}">S'inscrire</a>
                    {% endif %}
                    {% if (app.user in sortie.users) %}
                        - <a href="{{ path('sortie_desinscription', {'id': sortie.id}) }}">Se désister</a>
                    {% endif %}
                    {% if app.user == sortie.user %}
                        {% if sortie.etat.libelle == 'Créée' %}
                            <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                            - <a href="">Publier</a>
                        {% endif %}
                        {% if ( sortie.etat.libelle == 'Ouverte') or (sortie.etat.libelle == 'Clôturée') %}
                            - <a href="">Annuler</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# TODO penser à mettre le lien dans le href #}
    <a href="{{ path('sortie_new') }}"><button class="addBouton">Créer une sortie</button></a>
</div>
</div>
</div>



{% endblock %}

{% block title %}
    {{ parent() }} | Liste des sorties
{% endblock %}


