{% extends 'base.html.twig' %}


{% block header %}
    <link rel="stylesheet" href="{{ asset('assets/css/styleList.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/containerPrinc.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}">
{% endblock %}

{% block title %}
    {{ parent() }} | Liste des sorties
{% endblock %}

{% block body %}

    <div class="containerPrinc">

        <div class="form1">
            <div class="flexer">
                <div class="dateCampus">
                    <div class="containerCampus">
                        {{ form_label(filtre.campus) }}
                        {{ form_widget(filtre.campus) }}
                    </div>
                    <div class="containerDate">
                        {{ form_label(filtre.nom) }}
                        {{ form_widget(filtre.nom) }}

                        {{ form_label(filtre.dateSortie) }}
                        {{ form_row(filtre.dateSortie) }}

                        {{ form_label(filtre.dateCloture) }}
                        {{ form_widget(filtre.dateCloture) }}
                    </div>
                </div>
                    <div class="containerFiltre">
                        <div class="flexer">
                            <div class="margR">
                            {{ form_widget(filtre.sortieOrganisateur) }}
                            </div>
                            {{ form_label(filtre.sortieOrganisateur) }}
                        </div>
                        <div class="flexer">
                            {{ form_widget(filtre.sortieInscrit) }}
                            {{ form_label(filtre.sortieInscrit) }}
                        </div>
                        <div class="flexer">
                            {{ form_widget(filtre.sortiePasInscrit) }}
                            {{ form_label(filtre.sortiePasInscrit) }}
                        </div>
                        <div class="flexer">
                            {{ form_widget(filtre.sortiePasses) }}
                            {{ form_label(filtre.sortiePasses) }}
                        </div>
                    </div>
            </div>
                        <button>Rechercher</button>
        </div>

    </div>





        <div class="table-responsive">
            <table class="table table-striped table-hover table-gradient table-wrapper">
        <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture des inscriptions</th>
                <th scope="col">Inscrits/places totales</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>

        {% for sortie in sortieFiltre %}
            <tr data-index="{{ loop.index }}" >
                <th scope="row">{{ sortie.nom|capitalize }}</a></th>
                    <td>{{ sortie.dateHeureDebut|date('d/m/Y h:i') }}</td>
                    <td>{{ sortie.dateLimiteInscription|date('d/m/y H:i') }}</td>
                    <td>{{ sortie.users|length }}/{{ sortie.nbInscriptionMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% if app.user in sortie.users %}
                            X
                        {% endif %}
                    </td>
                <td>
                <a href="{{ path('profile_show', {'id': sortie.user.id}) }}">{{ sortie.user.nom }}</a>
                </td>
                    <td>
                        {# TODO penser à mettre les liens dans les href #}
                        {% if not (sortie.etat.libelle == '') %}
                            <a href="{{ path('sortie_details', {'id': sortie.id }) }}">Afficher</a>
                        {% endif %}
                        {% if (sortie.etat.libelle == 'Ouverte') and  not (app.user in sortie.users) %}
                            - <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}">S'inscrire</a>
                        {% endif %}
                        {% if (app.user in sortie.users) %}
                            - <a href="{{ path('sortie_desinscription', {'id': sortie.id}) }}">Se désister</a>
                        {% endif %}
                        {% if app.user == sortie.user %}
                            {% if sortie.etat.libelle == 'Créée' %}
                                <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                                - <a href="">Publier</a>
                            {% endif %}
                            {% if ( sortie.etat.libelle == 'Ouverte') or (sortie.etat.libelle == 'Clôturée') %}
                                - <a href="">Annuler</a>
                            {% endif %}
                        {% endif %}
                    </td>
            </tr>
        {% endfor %}
    </table>


        </div>
        <a href="{{ path('sortie_new') }}"><button class="addBouton">Créer une sortie</button></a>
    </div>
{% endblock %}


