{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Créer une sortie
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/styleNewSortie.css') }}">
{% endblock %}
{% block body %}

<div class="container">
    <h2>Créer une sortie</h2>
    {{ form_start(sortieForm, { 'attr': {'class': 'container'} }) }}

    {{ form_row(sortieForm.nom) }}
    {{ form_row(sortieForm.dateHeureDebut) }}
    {{ form_row(sortieForm.dateLimiteInscription) }}
    {{ form_row(sortieForm.nbInscriptionMax) }}
    {{ form_row(sortieForm.duree) }}
    {{ form_row(sortieForm.infosSortie) }}
    {{ form_row(sortieForm.campus) }}
    {{ form_row(sortieForm.ville) }}
    {{ form_row(sortieForm.lieu) }}
    <script>
        // Recupera el elemento select con id "sortie_ville"
        let selectVille = document.getElementById('sortie_ville');

        // Agrega un evento al cambiar de opción en el select
        selectVille.addEventListener('change', function() {

            // Obtiene el valor de la opción seleccionada
            let villeId = this.value;

            // Prepara los datos a enviar
            let data = new FormData();
            data.append('ville_id', villeId);

            // Llama a la API con una petición POST
            fetch('{{ path('sortie_lieux_by_ville') }}', {
                method: 'POST',
                body: data
            })
                .then(function(response) {
                    return response.json();
                })
                .then(function(data) {

                    // Actualiza la lista desplegable de Lieu con los nuevos valores
                    let selectLieu = document.getElementById('sortie_lieu');
                    selectLieu.innerHTML = '';
                    for (let key in data) {
                        //console.log("key="+key)
                        let option = document.createElement('option');
                        option.value = data[key].id;
                        option.innerHTML = data[key].nom;
                        selectLieu.appendChild(option);
                    }
                });
        });
    </script>
    {{ form_row(sortieForm.inscriptionAuto) }}

    <button name="enregistrer">Enregistrer</button>
    <br>
    <button name="publier">Publier</button>

    {{ form_end(sortieForm) }}
    <a href="{{ path('main_home') }}"><button>Annuler</button></a>
</div>
{% endblock %}

