{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Créer une sortie
{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{{ asset('assets/css/styleNewSorties.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/containerPrinc.css') }}">
{% endblock %}

{% block body %}

    <div class="containerPrinc back">
        {{ form_start(sortieForm) }}
        <div class="flexerMID ez">

        <fieldset class="fieldset1">
            <legend>Sortie</legend>
            <div class="margin-top">

                <div class="flexerCol">
                    <div>
                {{ form_label(sortieForm.nom) }}
                    </div>
                    <div>
                {{ form_widget(sortieForm.nom) }}
                    </div>
                </div>

            <div class="margin-top">
                <div class="flexerCol">
                    <div>
                {{ form_label(sortieForm.dateHeureDebut) }}
                    </div>
                        <div>
                {{ form_widget(sortieForm.dateHeureDebut) }}
                        </div>
                </div>
            </div>

            <div class="margin-top">
                <div class="flexerCol">
                    <div>
                {{ form_label(sortieForm.dateLimiteInscription) }}
                    </div>
                        <div>
                {{ form_widget(sortieForm.dateLimiteInscription) }}
                        </div>
                </div>
            </div>

            <div class="margin-top">
                <div class="flexerCol">
                    <div>
                {{ form_label(sortieForm.nbInscriptionMax) }}
                    </div>
                        <div>
                {{ form_widget(sortieForm.nbInscriptionMax) }}
                        </div>
                </div>
            </div>

            <div class="margin-top">
                <div class="flexerCol">
                        <div>
                {{ form_label(sortieForm.duree) }}
                       </div>
                        <div>
                {{ form_widget(sortieForm.duree) }}
                        </div>
                </div>
            </div>


            <div class="margin-top">
                <div class="flexerCol">
                    <div>
                {{ form_label(sortieForm.infosSortie) }}
                    </div>
                        <div>
                {{ form_widget(sortieForm.infosSortie) }}
                        </div>
                </div>
            </div>
            </div>


        </fieldset>

        <fieldset class="fieldset2">
            <legend>Localisation</legend>

            <div class="flexerCol">
                <div class="margin-top">
                    <div>
                    {{ form_label(sortieForm.campus) }}
                    </div>
                    <div>
                    {{ form_widget(sortieForm.campus) }}
                    </div>
                </div>
                <div class="margin-top">
                    <div>
                    {{ form_label(sortieForm.ville) }}
                    </div>
                    <div>
                    {{ form_widget(sortieForm.ville) }}
                    </div>
                </div>
                <div class="margin-top">
                    <div>
                    {{ form_label(sortieForm.lieu) }}
                    </div>
                    <div>
                    {{ form_widget(sortieForm.lieu) }}
                    </div>
                </div>

                <div>
                <a href="{{ path('app_lieu_new') }}">
                    <button type="button" class="btn-plus">+</button>
                </a>
                </div>

            </div>
        </fieldset>
        </div>


        <div class="ajust">
            <div class="buttons-container">
                <button class="save-button" name="enregistrer">Enregistrer</button>



            {{ form_end(sortieForm) }}
                <a href="{{ path('sortie_list') }}"><button type="button" class="cancel-button">Annuler</button></a>

            </div>


                <script>
                    // Recupera el elemento select con id "sortie_ville"
                    let selectVille = document.getElementById('sortie_ville');

                    // Agrega un evento al cambiar de opción en el select
                    selectVille.addEventListener('change', function() {

                        // Obtiene el valor de la opción seleccionada
                        let villeId = this.value;

                        // Prepara los datos a enviar
                        let data = new FormData();
                        data.append('ville_id', villeId);

                        // Llama a la API con una petición POST
                        fetch('{{ path('sortie_lieux_by_ville') }}', {
                            method: 'POST',
                            body: data
                        })
                            .then(function(response) {
                                return response.json();
                            })
                            .then(function(data) {

                                // Actualiza la lista desplegable de Lieu con los nuevos valores
                                let selectLieu = document.getElementById('sortie_lieu');
                                selectLieu.innerHTML = '';
                                for (let key in data) {
                                    //console.log("key="+key)
                                    let option = document.createElement('option');
                                    option.value = data[key].id;
                                    option.innerHTML = data[key].nom;
                                    selectLieu.appendChild(option);
                                }
                            });
                    });
                </script>

        </div>
    </div>










{% endblock %}



