<nav>
    <ul>
        {#  {% if app.user %}  #}
        <li><a href="{{ path('main_home') }}">Home</a></li>


        {#
        {% if is_granted("ROLE_ADMIN") %}
        <li><a href="{{ path('app_lieu_index') }}">Campus</a></li>
        <li><a href="{{ path('app_ville_index') }}">Villes</a></li>
        {% endif %}
        #}
            <li><a href="{{ path('sortie_new') }}">Ajouter une sortie</a></li>
            <li><a href="#">  </a></li>


            <!-- Lien de connexion pour un utilisateur non connecté -->
            <li><a href="{{ path('app_login') }}">Login</a></li>
        {% if app.user %}
        <li><a href="{{ path('app_logout') }}">Logout ({{ app.user.nom }})</a></li>
            <li><a href="{{ path('profile_show', {'id': app.user.id}) }}">Mon profil</a></li>

        {% endif %}

    </ul>
</nav>