<head>
    <title>Barre de navigation</title>
    <link rel="stylesheet" href="{{ asset('assets/css/styleNav.css') }}">
    <script src=".js" defer=""> </script>
</head>

<div class="nav">
    <input type="checkbox" id="nav-check">

    <div class="nav-header">
        <div class="nav-title">
            Sortir | E.N.I
        </div>
    </div>



    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <div class="nav-links">
        <a href="{{ path('main_home') }}">Home</a>
        {% if app.user %}
            {# Liens pour un utilisateur connecté #}
            <a href="{{ path('sortie_new') }}">Ajouter une sortie</a>
            <a href="{{ path('sortie_list') }}">Liste des sorties</a>
            <a href="{{ path('profile_show', {'id': app.user.id}) }}">Mon profil</a>
            <a href="{{ path('app_logout') }}">Logout ({{ app.user.nom }})</a>
        {% else %}
            {# Lien de connexion pour un utilisateur non connecté #}
            <a href="{{ path('app_login') }}">Login</a>
        {% endif %}
    </div>
</div>


